<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row class="toolbar">
      <h1 id="app-title">Daniel's Awesome Weather App</h1>
    </mat-toolbar-row>
  </mat-toolbar>
</header>

<div class="app-container">
  <app-city-selector></app-city-selector>
  <app-forecast-display></app-forecast-display>
</div>

<footer>
  <mat-toolbar color="primary">
    <mat-toolbar-row class="toolbar">
      <a href="https://danielrb.dev" class="toolbar-link">danielrb.dev</a>
    </mat-toolbar-row>
  </mat-toolbar>
</footer>
