.app-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  text-align: center;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.toolbar-link {
  text-decoration: none;
  color: white;

  :hover > &{
    color: grey;
  }
}
