
<mat-chip-list class="mat-chip-list-stacked warnings" aria-label="warnings">
  <mat-chip id="city-not-found" color="warn" *ngIf="forecastNotFound" selected>No forecast found for {{newCity}}</mat-chip>
</mat-chip-list>


<h2>Temperature information for the last 5 days</h2>

<table *ngIf="cityForecastWasObtained"
  mat-table
  [dataSource]="dataSource"
  style="min-width: 350px;"
  class="mat-elevation-z8 city-table">

  <ng-container matColumnDef="city">
    <th mat-header-cell *matHeaderCellDef> City </th>
    <td mat-cell *matCellDef="let element" id="{{getCityNameId(element.city)}}-city-name"> {{element.city}} </td>
  </ng-container>

  <ng-container matColumnDef="min">
    <th mat-header-cell *matHeaderCellDef> Min </th>
    <td mat-cell *matCellDef="let element" id="{{getCityNameId(element.city)}}-city-min"> {{element.min | number}} </td>
  </ng-container>

  <ng-container matColumnDef="max">
    <th mat-header-cell *matHeaderCellDef> Max </th>
    <td mat-cell *matCellDef="let element" id="{{getCityNameId(element.city)}}-city-max"> {{element.max | number}} </td>
  </ng-container>

  <ng-container matColumnDef="mean">
    <th mat-header-cell *matHeaderCellDef> Mean </th>
    <td mat-cell *matCellDef="let element" id="{{getCityNameId(element.city)}}-city-mean"> {{element.mean | number}} </td>
  </ng-container>

  <ng-container matColumnDef="mode">
    <th mat-header-cell *matHeaderCellDef> Mode </th>
    <td mat-cell *matCellDef="let element" id="{{getCityNameId(element.city)}}-city-mode"> {{element.mode | number}} </td>
  </ng-container>

  <ng-container matColumnDef="unit">
    <th mat-header-cell *matHeaderCellDef> Unit </th>
    <td mat-cell *matCellDef="let element"> {{element.unit}} </td>
  </ng-container>

   <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
